html {
    position: relative;
    min-height: 100%;
}

.page-header {
    min-height: 9rem;
}

.page-header h1 {
    font-size: 5.5vw;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

#trples {
    width: 450px;
}

#trples input[type='text'] {
    width: 150px;
    padding: 2px;
    text-align: center;
}

#nouvTriple {
    margin-bottom: 15px;
}

#prse {
    margin-bottom: 80px;
}

#btJson {
    margin-top: 15px;
    margin-bottom: 80px;
}

footer a {
    float: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 60px;
    color: #FFFFFF;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 0.8;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
}

svg {
    border: 1px solid gray;
}